<h2>מארח זיכרון בסלון יקר!</h2>

<p>
	בעוד מספר שעות יחול ערב יום השואה. אנחנו שמחים שבחרתם לציין אותו (בין אם הערב או מחר) בערב של זיכרון בסלון. אליכם מצטרפים אלפי סלונים ברחבי הארץ והעולם לערב משמעותי וחוויתי.
</p>

<p>
	לטובת כל מי שלא מארח בביתו איש עדות מצורף לינק לעדויות מוקלטות ולסרטי עדות מרגשים. כמו כן, בשעה 20:00 ובשעה 20:45 יועברו בשידור חי שתי עדויות מרתקות אליהן תוכלו להתחבר באמצעות אתר Ynet. מומלץ לוודא חיבור מהמחשב למסך טלויזיה / מקרן וחיבור אינטרנט חזק.
</p>

<p>
<b>בשעה 20:00</b> תשודר עדותו של מרדכי צ'כנובר,  בן 91. נולד בפולין, בעיירה מאקוב מאזובייצקי. עבד כמתקן גגות צריפי האסירים באושוויץ על מנת להישאר בחיים. מרדכי שוחרר ממחנה ברגן בלזן ב-15.4.45 , בדיוק היום לפני 70 שנה. ב-1945 ועלה ארצה כחייל בריטי בעל זהות מזוייפת.  
</p>


<p>
<b>בשעה 20:45</b> תשודר עדותה של של סוזי קסטנר,  בתו של ד"ר ישראל קסטנר שהיה חבר בועד העזרה וההצלה בבודפסט שבהונגריה בתקופת השואה. סוזי הייתה בת 11 כשאביה נרצח, שנתיים אחרי המשפט שהסעיר את המדינה ועסק בפעולות של אביה בזמן שואת יהודי הונגריה.
 </p>

 <p>
כמו כן, מצורפים לינקים למספר עדויות מוקלטות וסרטי עדות. בין הסרטים נמצאים : "סיפורי סבתא 33945", "ענפים שבורים" , "כשהקירות בכו" , "בשבילך יפתחו השמיים", "אם תשאר בחיים" ו- Paper clips. פירוט אודות הסרטים מצורף במסמך נלווה.
</p>

<p>
	את הסרט "סיפורי סבתא 33945" תוכלו למצוא <a href="https://vimeo.com/124964753">בגרסא המקוצרת</a>/ <a href="https://vimeo.com/124835231">בגרסא המלאה</a>. הססמא לסרט היא : dana33945. את יתר העדויות והסרטים תוכלו למצוא <a href="https://www.youtube.com/watch?v=06jRj8DX6sM&list=PLpbJZqUZ9Bxc6FF0LddwvjNZ_Bd5JhPVi">בערוץ ה-YouTube</a> של זיכרון בסלון.
</p>

<p>
אתכם,
	<br>
	צוות זכרון בסלון
</p>