<p>
מארח/ת יקר/ה, 
אנו מקווים שהיה לך ולאורחיך ערב משמעותי ומעורר השראה ומחשבה. נשמח מאוד אם תוכל/י לענות על מספר שאלות קצרות. תשובותיך יסייעו לנו ולמארחים נוספים בשנים הבאות לקיים ערב זיכרון בסלון מוצלח. בהזדמנות זו נבקש לתזכר אותך ליצור קשר טלפוני עם איש העדות שהתארח בביתך כדי להודות לו/ה :)
</p>
<p>
אנא היכנס/י ללינק הזה- http://goo.gl/geICPf וענה/י על השאלות.
</p>
</p>
תודה רבה,
	<br>
	צוות זכרון בסלון
</p>