<h2>מארח זיכרון בסלון יקר!</h2>

<p>
	ביום רביעי הקרוב יחול ערב יום השואה וגם השנה יתכנסו יחד אלפי אנשים ברחבי הארץ והעולם לציין ולזכור את השואה קצת אחרת. אנחנו שמחים שבחרת להצטרף אלינו ולארח ערב של זיכרון בסלון בביתך, ובטוחים שיהיה לך ולאורחים ערב משמעותי, מרגש ומיוחד.
</p>

<p>
	רגע לפני, נרצה לתת כמה דגשים והמלצות על מנת שהערב בביתך יהיה חוויתי ומוצלח. 
</p>

<p>
זיכרון בסלון נולד מתוך ההבנה שהשואה לא הסתיימה ב-1945; היא מלווה אותנו גם היום כחלק מהעבר והזהות הלאומית והפרטית של כולנו וזו זכותנו וחובתנו לזכור וללמוד בשביל ההווה והעתיד.
</p>
 
<p>
	

מהות זיכרון בסלון היא לא רק המפגש עם שורדי השואה, אלא גם המרחב האינטימי שנוצר בין משתתפי הערב אשר מאפשר לכל אחד מהאורחים לחשוב, להתבונן ולשתף בין אם זה במסגרת החלק האומנותי או בדיון.
 </p>

 <p>

אל לנו לתלות את זכרון השואה בכלל, ואת ערבי זיכרון בסלון בפרט, בנוכחותם של שורדי השואה עימנו. על אף חובתנו לתת מקום לכל סיפור ולכל עדות, אנחנו גם מחוייבים להמציא מקום משמעותי ונכון לזיכרון השואה, כשהוא אינו תלוי בעדות חיה של שורד שואה.
</p>

<h2>דגשים אחרונים בנוגע להתנהלות מול איש העדות:</h2>

<ul>
	<li>
		חשוב לזכור כי מדובר בערב טעון ולא פשוט עבורם. שורדי השואה לא מגיעים לתת הופעה בסלון. המעמד מאוד מורכב עבורם, חלקם לא מורגלים במתן עדות וכולם מבוגרים מאוד. לא קיימנו ״אודישנים״ לשורדי השואה -  תפקידנו בערב הזה הוא        להכיל אותם, לנהוג בהם בסבלנות ובכבוד ולחבק כל אחד מהם שבוחר לספר את סיפורו,  ולא משנה מה הסיפור.
	</li>
	<li>
		אנחנו לא יודעים לכמה שנים נוספות האנשים הללו יהיו עימנו, ולכן אנחנו מבקשים מכל סלון לתעד את העדות. חשוב מאוד לבדוק לפני כן עם איש העדות שזה בסדר מבחינתו ואף מומלץ לתת לו עותק של העדות המצולמת. שימו לב שאתם מפסיקים לצלם בתום העדות - צילום של הדיון עלול לגרום לכך שאנשים ירגישו לא בנוח לומר את אשר על ליבם ואנחנו כמובן רוצים להמנע ממצב כזה.
	</li>
	<li>
		חשוב ביותר להיפגש עם איש העדות לפגישה קצרה לפני הערב. לא מדובר בראיון ואין כוונה במתן עדות, רק בהיכרות קצרה. מניסיון, ההיכרות הזו משמעותית ביותר לחלק של העדות ולתחושת הביטחון של שורד השואה. מומלץ להכין מראש את       איש העדות על מסגרת הזמנים שיש לו. במידהו והא "נתקע" או מתקשה לדבר, מצורף מסמך עם שאלות מנחות. 
	</li>
	<li>
		מאחר ומדובר באנשים מבוגרים וביום מאוד טעון וקשה עבורם, יש סבירות כלשהי שהם יבטלו בערב עצמו. מצורף קובץ PDF עם עדויות מוקלטות וסרטי עדות מרגשים לשימושכם. הסרטונים יעלו לערוץ ה-YouTube שלנו במהלך יום שלישי - <a href="https://www.youtube.com/watch?v=06jRj8DX6sM&list=PLpbJZqUZ9Bxc6FF0LddwvjNZ_Bd5JhPVi">לעדויות לחצו כאן</a>. 
	</li>
</ul>

<p>
	כמו כן, <b>בבוקר יום רביעי ישלח לכולם קישור להתחבר לעדות בשידור חי</b>. בשל כך, חשוב שכל אחד מכם יתארגן על מסך, חיבור למחשב ואינטרנט עובד לטובת העניין.
</p>

<h2>מספר דגשים בנוגע לאורחים ולאירוח:</h2>
<ul>
	<li>
		 זכרו להכין את האורחים שלכם ולעשות תיאום ציפיות: להסביר את מבנה הערב, את הרגישות מול איש העדות (או היעדר עדות) ולהזמין אותם להביא משהו משלהם לחלק האומנותי (תמונה, סיפור, שיר).
	</li>

	<li>
		זכרו להכין חלק אומנותי משלכם. אל תסתמכו רק על מה שהאורחים מביאים, סכמו עם אחד החברים שהוא מביא גיטרה או תבחרו מראש קטע קריאה. 
	</li>

	<li>
		חשוב ביותר להתכונן לחלק של הדיון (בין אם זה אתם או מי שמנחה את הערב מטעמכם), לקרוא את הדגשים לדיון במערך, לבחור שיחה שמעניינת אתכם ולנסות לחשוב לאן היא יכולה להתפתח. 
	</li>

	<li>
		לסיום, מצורפת מצגת לערב ההכנה. אנו ממליצים בחום לכל מי שלא הגיע לערב הכנה פיזי / וירטואלי לעבור עליה לפני. כמן כן, <a href="https://www.youtube.com/watch?v=qigru5u6WMs&list=PLpbJZqUZ9BxeRf1p-XVkPNjsqxlBhpTuW">בלינק הבא</a> תוכלו למצוא סרטוני הדרכה קצרים על מה זה זיכרון בסלון ואיך עורכים ערב כזה. 
	</li>
</ul>

<p>
	לשאלות / הנחיות ניתן לפנות לרכזים האזוריים שיצרו עמכם קשר או למייל שלנו: zikaronbasalon@gmail.com.
</p>


<p>
	שיהיה לכולנו ערב יום שואה משמעותי,
	<br>
	צוות זכרון בסלון
</p>