<h2>מארחים יקרים</h2>

<p>
	אנחנו שמחים ונרגשים מכך שבחרתם לפתוח הערב את ביתכם ולארח ערב זיכרון אצלכם בסלון. אליכם מצטרפים אלפי סלונים ברחבי הארץ והעולם לערב משמעותי וחוויתי. למייל זה מצורפת ערכת מארח אשר כוללת את מערך הערב, שילוט לדלת ותעודת הוקרה לאיש עדות.
</p>

<p>
	בשלב זה לא נוכל לסייע באיתור איש עדות לסלון שלכם. לטובת כל מי שלא מארח בביתו איש עדות מצורף לינק לעדויות מוקלטות ולסרטי עדות מרגשים. כמו כן, בשעה 20:00 ובשעה 20:45 יועברו בשידור חי שתי עדויות מרתקות אליהן תוכלו להתחבר באמצעות <a href="http://www.ynet.co.il/articles/0,7340,L-4647226,00.html">אתר Ynet</a>. מומלץ לוודא חיבור מהמחשב למסך טלויזיה / מקרן וחיבור אינטרנט חזק. 
</p>

<p>
<b>בשעה 20:00</b> תשודר עדותו של מרדכי צ'כנובר,  בן 91. נולד בפולין, בעיירה מאקוב מאזובייצקי. עבד כמתקן גגות צריפי האסירים באושוויץ על מנת להישאר בחיים. מרדכי שוחרר ממחנה ברגן בלזן ב-15.4.45 , בדיוק היום לפני 70 שנה. ב-1945 ועלה ארצה כחייל בריטי בעל זהות מזוייפת.  
</p>


<p>
<b>בשעה 20:45</b> תשודר עדותה של של סוזי קסטנר,  בתו של ד"ר ישראל קסטנר שהיה חבר בועד העזרה וההצלה בבודפסט שבהונגריה בתקופת השואה. סוזי הייתה בת 11 כשאביה נרצח, שנתיים אחרי המשפט שהסעיר את המדינה ועסק בפעולות של אביה בזמן שואת יהודי הונגריה.
 </p>

<p>
	קישורים לסרטי עדות:
	<br>
	"סיפורי סבתא 33945"- https://vimeo.com/124835231  / סיסמה:  dana33945
	<br>
"ענפים שבורים"- https://vimeo.com/123532258  / סיסמה: secret2015
<br>
"כשהקירות בכו"- http://goo.gl/Vgbz9h
<br>
"אם תשאר בחיים" - http://goo.gl/hBGh5T
<br>
"Paper clips"- http://goo.gl/R0fnG3
</p>
<p>
מאחלים לכם ערב משמעותי,
	<br>
	צוות זכרון בסלון
</p>