<h2>ערכה למארח זכרון בסלון</h2>

<p>מארחים יקרים,<br>
מצורפת <%= link_to "ערכת אירוח לערב זכרון בסלון", "zikaronbasalon.herokuapp.com/kit_2015.zip" %>. בערכה זו תוכלו למצוא מסמך מפורט המסביר כיצד לערוך ערב זכרון בסלון, הצעות לדיון, חומרים מעוררי מחשבה, שילוט אליכם הביתה, תעודת הוכרה לאנשי העדות ועוד.

</p>
<p>
אם יש לכם שאלות על הערכה או חסר לכם משהו, אתם מוזמנים לפנות לאיש הצוות שעמד אתכם בקשר, או לכתוב לנו zikaronbasalon@gmail.com
</p>

<p>
	שיהיה לכולנו ערב משמעותי,
	<br>
	צוות זכרון בסלון
</p>