

<p>
שמנו לב שלא סיימת את כל תהליך ההרשמה לזיכרון בסלון, כלומר - יש שאלות שלא ענית עליהם. בטח גם לא קיבלת
את מייל אישור ההרשמה, שם יש קישור לערכת המארח ופרטים נוספים.
<br>
אם זה קרה בטעות, אז מומלץ לעשות את שלושת השלבים הבאים כדי להשלים את ההרשמה:
<br>
1. להכנס לאתר שלנו <%= link_to('www.zikaronbasalon.com', 'https://www.zikaronbasalon.com') %>
<br>
2. באתר ללחוץ על ״הפרופיל שלי״ למעלה ולהזין את המייל והסיסמה בחלון החדש שנפתח
<br>
3. במשבצת ״הסלון שלי״ אפשר ללחוץ על עריכה, ולמלא את כל הפרטים עד שיש פופ אפ שאומר שסיימת הרשמה (וגם יישלח לך מייל שמאשר את ההרשמה).
</p>

<p>
חשוב לנו להדגיש - אנחנו יכולים לסייע בציוות אנשי עדות רק למארחים שסיימו את ההרשמה שלהם באתר, אך אנו
לא יכולים להתחייב שנוכל למצוא ציוות.
</p>

<p>
אם מסיבה כזו או אחרת, ברצונך לבטל את הערב או שהסתבכת בתהליך, אנא עדכן אותנו במייל חוזר.
</p>

<p>
צוות זיכרון בסלון
</p>

