

<p>
שמנו לב שלא סיימת את כל תהליך ההרשמה לזיכרון בסלון, כלומר - יש שאלות שלא ענית עליהם. בטח גם לא קיבלת
את מייל אישור ההרשמה, שם יש לינק לערכת המארח ופרטים נוספים.
<br>
אם זה קרה בטעות, אז מומלץ לעשות את שלושת השלבים הבאים כדי להשלים את ההרשמה:
<br>
1. להכנס לאתר שלנו <%= link_to('www.zikaronbasalon.com', 'https://www.zikaronbasalon.com') %>
<br>
2. ללחוץ על ״פרופיל״ מצד שמאל למעלה ולהזין את המייל והסיסמה בחלון החדש שנפתח
<br>
3. לבסוף ללחוץ על ״הפרופיל שלי״ מצד ימין למעלה.
</p>

<p>
מה עכשיו?
<br>
תחת הבוקסה של ״הסלון שלי״ אפשר ללחוץ על עריכה, ולמלא את כל הפרטים עד שיש פופ אפ שאומר שסיימת את
ההרשמה (וגם ישלח לך מייל שמאשר את ההרשמה).
</p>

<p>
חשוב לי להדגיש - אנחנו יכולים לסייע בציוות אנשי עדות רק למארחים שסיימו את ההרשמה שלהם באתר, אך אנו
לא יכולים להתחייב שנוכל למצוא ציוות - ודווקא בגלל זה ממש חשוב לקיים זיכרון בסלון בכל מקרה!
<br>
זיכרון בסלון קם כדי שנמשיך לזכור ולהזכיר את השואה גם ללא נוכחותם הפיזית של אנשי עדות, ואנחנו נשמח מאוד
לעזור לך לבנות תוכן לערב עם עדות מצולמת או כתובה - וגם יש לנו המון הצעות ותכנים באתר בעמוד &quot;מבנה
הערב&quot;.
</p>

<p>
אם מסיבה כזו או אחרת, ברצונך לבטל את הערב, אנא עדכן אותנו במייל חוזר.
<br>
אם הסתבכת, או שיש לך תהיות לגבי האירוח שלך, אנחנו כאן לכל שאלה.
</p>

<p>
צוות זיכרון בסלון
</p>

