<h2>מארח חדש נרשם בעירך.</h2>

<p>תוכל/י לערוך את פרטיו בלינק הבא: <%= edit_host_url(locale: :he,@host) %></p>
<p>ולראות את כל המארחים בעירך בלינק הבא: <%=  hosts_url(locale: :he) %></p>

<p>שם משתמש: zikaron<br>
סיסמא: 1234.com</p>
