<p>שלום רב,</p>

<p>כמה רגעים אחרי ערב יום הזיכרון לשואה ולגבורה, ואחרי שאלפי סלונים אירחו זיכרון בסלון, נשמח לשמוע ממך על החוויה הכללית שלך בזיכרון בסלון. <br />
מצורף פה לינק למשוב שישמש אותנו ללמוד, להשתפר ולהפיק לקחים לעתיד. 
</p>

<p><a href="http://goo.gl/forms/DpWzb0iGT2">http://goo.gl/forms/DpWzb0iGT2</a></p>


<p>
	תודה, <br/>
	צוות זיכרון בסלון. 
</p>