<p>מארחים יקרים,</p>

<p>
בימים הקרובים תפתח את סלון ביתך ותארח ערב של זיכרון בסלון. <br/>
רגע לפני אנחנו רוצים להודות לך שוב שבחרת לקחת אחריות על זיכרון השואה בכלל וערב יום השואה בפרט להזכיר כמה נקודות חשובות שיעשו לך ולאורחיך את כל ההבדל.
</p>

<p>
1. ערכת המארח - לנוחיותכם, צירפנו פה את ערכת המארח המקוצרת שמכילה בתוכה המלצות לאירוח, פרטים על שלושת חלקי הערב, שלטי הכוונה לסלון שלכם ותעודת הוקרה לנותן העדות. <br/>
<a href="http://www.zikaronbasalon.com/#!eveningsetup/c1hap">באתר שלנו</a> תוכלו למצוא מערכי דיון לבחירה, הצעות לחלק האומנותי-שיתופי וכן ערכת מארח לבני נוער. חשוב לנו להדגיש פעם נוספת כי ערב זיכרון בסלון מכיל שלושה חלקים, ולכל אחד מהם חשיבות גדולה בהצלחת הערב - מפגש קהילתי ואינטימי של שיתוף ושיח. 
</p>

<p>
2. בסוף השבוע יצאנו במבצע חלוקת ״הספרונים״- מדובר בספרון המהווה מעין ״הגדה״  של זיכרון בסלון. הספרון מבוסס על הידע והניסיון המצטבר של כלל מארחי ומשתתי זיכרון בסלון, ומבקש לסייע ביצירת מסורת חדשה שתתקיים בכל שנה בסלון ביתכם. <br/>
<b>* במידה ולא קיבלתם ספרון</b>, אנא שלחו לנו מייל חזרה עם שם מלא וכתובת מלאה, עד סוף היום. יש לציין כי לספרונים אין גרסה דיגיטלית, ועל כן חשוב לשמור עליהם טוב טוב. 
</p>

<p>
3. האורחים שלכם - במידה ואתם רשומים כסלון פתוח, חשוב לשים לב לבקשות שנשלחות אליכם דרך האתר. כנסו <a href="http://zikaronbasalon.herokuapp.com/my-profile">לפרופיל האישי</a> שלכם ותאשרו את הבקשות. רצוי ליצור קשר אישי עם המתארח. מומלץ גם לעדכן את הפרופיל האישי שלכם ולהוסיף כמה מילים על הערב, האם על האורחים להביא משהו לחלק האומנותי-שיתופי, להביא כיבוד וכדומה תחת ״הערות למתארחים״. הערות אלו יופיעו במנוע חיפוש הסלונים באתר.
</p>

<p>
4. התנהלות מול אנשי עדות - אנא צרו קשר עם איש או אשת העדות שלכם פעם נוספת בטרם יגיע לערב שלכם, שאלו אותו לשלומו, וודאו את הפרטים שקבעתם מולו. יצירת הקשר חשובה כדי לתת לאנשי העדות תחושת ביטחון וכמובן כדי למנוע ביטולים של הרגע האחרון. אנא קראו את <a href="http://www.zikaronbasalon.com/#!blank-11/p05te">המסמך המצורף בקישור</a>. <br/>
חשוב מאוד להגיע לאסוף את איש העדות בזמן, להנחות אותו על מבנה הערב ולוחות הזמנים והשלב בו יחזירו אותו הביתה, חשוב להתנהג כלפיו בנימוס וברגישות גם בזמן הערב (להקפיד על זמנים, לא לאכול מולו בזמן העדות, לא להתעסק בניידים) 
</p>

<p>
5. בשבועות האחרונים אנו עובדים במטרה לצוות לכל מארח איש או אשת עדות - דור שני, איש רוח ואקדמיה או ניצול שואה. לצערנו, אין באפשרותנו לעזור לכל המארחים, ועל כן אנחנו ממליצים לכם להשתמש בעדויות <a href="http://www.zikaronbasalon.com/#!blank-12/i1c5s">מצולמות</a> או <a href="http://www.zikaronbasalon.com/#!blank-13/amlud">כתובות</a>. קיום הערב בהעדר עדות פרונטלית חשובה לא פחות, אם לא יותר. האחריות לשמר את זיכרון השואה, האישי והקולקטיבי, חלה עלינו ואנו מבקשים להמשיך לספר את הסיפור, בכל דרך שהיא. 
</p>

<p><b>
	נשמח מאוד אם תוכלו לתעד את מהלך הערב - סרטונים ותמונות סטילס, לפרסם בעמוד הפייסבוק והאינסטגרם שלכם, ולשלוח אלינו בסיום הערב.<br/>

	לכל שאלה, מחשבה, רעיון או התלבטות, אנחנו זמינים במייל זה ו<a href="https://www.facebook.com/groups/zikron/">קבוצת המארחים שלנו</a> בפייסבוק לעזור ולהכווין. 
</b></p>


