<p>מארחים ומארחות יקרים, </p>

<p>
אנחנו שמחים שבחרת לציין את ערב יום הזיכרון לשואה ולגבורה במפגש זיכרון בסלון. לצד הסלון שלכם התקיימו אלפים רבים של סלונים ברחבי הארץ והעולם. אנחנו מקווים שהאתר, התכנים והליווי שלנו במהלך הדרך עזרו לכם בתכנון והוצאה לפועל של ערב משמעותי ומוצלח. 
</p>

<p>
רגע לפני שזה נגמר, אנחנו מזכירים לכם ליצור קשר טלפונים עם איש או אשת העדות שהתארח בסלונכם, לשאול לשלומו/ה ולהודות על שהגיע/ה אליכם לסלון וסיפר/ה את סיפורו/ה. 
</p>

<p>
ודבר אחרון, נשמח מאוד אם תשלחו לנו תמונות, סרטונים ורשמים שלכם מהערב. מי מכם שהקליט את העדות שלו מוזמן ליצור איתנו קשר דרך כתובת מייל זה. 
</p>

<p>
בנוסף, מצורף למייל זה משוב קצר. אנחנו תמיד מנסים ללמוד ולהשתפר תוך כדי תנועה. נשמח אם תוכלו למלא את המשוב כדי לעזור לנו להיות שם בשבילכם, טוב יותר. 
</p>

<p>
	<a href="https://docs.google.com/forms/d/104xX9G1xx-hVXJInkEaZfx0awLpXt1cJ8zajPm02I7A/viewform">לצפיה במשוב</a>
</p>


<p>
ברוכים הבאים לקהילה שלנו, <br/>
זיכרון בסלון <br/>
www.zikaronbasalon.com
</p>