<p>תודה שנרשמת לארח ערב של "זכרון בסלון"!</p>

<p>אנחנו כאן כדי ללוות אותך ונשמח להיות כאן עבורך בכל נושא.</p>

<p>בימים אלו אנחנו נערכים לאלפי מארחים ברחבי הארץ והעולם שבחרו לארח ערב של זכרון בסלון בביתם.</p>

<p>בשבועות הקרובים ניצור עמך קשר וניתן לך את כל המידע הנחוץ כדי שערב יום הזיכרון לשואה ולגבורה יהיה מעורר השראה ומשמעותי לך ולאורחיך.</p>

<p>בינתיים את/ה מוזמנ/ת להצטרף לקבוצת המארחים של "זכרון בסלון" בפייסבוק כאן.</p>

<p>תודה רבה שבחרת לקחת חלק.
יחד נהפוך את יום הזכרון לשואה ולגבורה למשמעותי, רלוונטי ונגיש. 
</p>

<p>צוות "זיכרון בסלון"</p>