<p>
מארחים יקרים, 
</p>

<p>
רגע לפני כניסת החג, בין כל הארגונים, הסידורים, הטלפונים לסבא, סבתא ולדודה, אנו רוצים לבקש ממך להרים טלפון לאיש/ת העדות שאירחת בביתך השנה ולאחל שנה טובה.
</p>

<p>
אם יש לכם חצי שעה בין הסידורים של ערב החג, אנחנו אפילו מזמינים אתכם לקפוץ לביקור קצר להעניק ברכה וחיבוק. 
</p>

<p>	
אנחנו בטוחים שאין דבר שישמח אותו/ה יותר מאשר שיחת טלפון או ביקור, שידעו וירגישו שזוכרים אותם כל השנה. 
</p>

<p>
ניסחנו ברכה קצרה ומעוצבת לקראת החג - אתם מוזמנים להדפיס אותה ולהעניק לאיש העדות שלכם. הברכה המצורפת היא כמובן הצעה ואתם מוזמנים לנסח אחת משלכם!
</p>

<p>
מאחלים גם לכם כמובן שנה טובה וחג שמח, בתקווה שהשנה הטוב ימלא את כולנו. 
<br>
זיכרון בסלון
</p>