<p>היי,</p>

<p>שימו לב כי <%= @unassigning_user.full_name %> <%= @unassigning_user.email %> ביטלו את הציוות בין <%= link_to "מארח", host_url(id: @host.id) %> לבין <%= link_to "עד", witness_url(id: @witness.id) %>. אנחנו לא יודעים למה זה קרה, ולכן כדאי שתבדקו ממש עכשיו מה קורה שם.
</p>

<p>
	שימו לב כי המארח לא קיבל מייל אוטומטי על ביטול הציוות, ולכן חשוב שהמוביל יעדכן אותו במידה וזה לא הגיע ממנו. כמו כן, במידת הצורך יש לעדכן את איש העדות בשינויים אלו.

</p>

תודה!