<h1>שלום!</h1>

<p>התווספת כמוביל קהילה בזיכרון בסלון. בשביל לגשת לחשבון שלך עליך ליצור חשבון <%= link_to "כאן", "http://zikaronbasalon.herokuapp.com/signup" %></p>

<p>
	נא לשים לב כי יש ללחוץ על ״הרשמת צוות״ בצד שמאל למעלה (או ללחוץ על הלינק) , להזין את המייל הזה (שקיבלת אליו את המייל הזה), שם (״צוות חיפה״ לדוגמה) וסיסמא שאתם ממציאים.
</p>
