<div class="col-xs-12" id="witness-new-form" ng-controller="WitnessNewController">
	
	<h1>הוסף איש עדות</h1>
  <form>

    <div class="form-group">
      <label for="full_name">שם מלא</label>
      <input type="text" class="form-control"
             id="full_name"
             ng-model="witness.full_name"
             required>
    </div>

    <div class="form-group">
      <label for="address">כתובת</label>
      <input type="text" class="form-control"
             id="address"
             ng-model="witness.address"
             required>

      <input type="hidden" ng-model="witness.city_name" />
    </div>

    <div class="form-horizontal">
	    <div class="form-group ">
	      <label for="witness_type" class="col-xs-1 control-label">סוג</label>
	      <div class="col-xs-11">

	        <select class="form-control" id="witness_type" 
	                ng-model="witness.witness_type"
	                ng-options="o.v as o.n for o in typeOptions">
	        </select>
	      </div>
	    </div>
    </div>

    <div class="form-group">
      <label for="language">שפה</label>
      <input type="text" class="form-control"
             id="language"
             ng-model="witness.language"
             required>
    </div>

    <div class="form-group">
      <label for="email">מייל</label>
      <input type="text" class="form-control"
             id="email"
             ng-model="witness.email"
             required>
    </div>

    <div class="form-group">
      <label for="phone">טלפון</label>
      <input type="text" class="form-control"
             id="phone"
             ng-model="witness.phone"
             required>
    </div>

    <div class="form-horizontal">
	    <div class="form-group ">
		    <label for="stairs" class="col-xs-1 control-label">יכול לעלות מדרגות</label>
		    <div class="col-xs-11">
		      <select class="form-control" id="stairs" 
		              ng-model="witness.stairs"
		              ng-options="o.v as o.n for o in [{ n: 'יכול', v: true }, { n: 'לא יכול', v: false }]">
		      </select>
		    </div>
		  </div>
	  </div>

	  <div class="form-group">
      <label for="special_needs" class="control-label">צרכי נגישות מיוחדים</label>
      <textarea class="form-control" id="special_needs" 
      					ng-model="witness.special_needs">
			</textarea>
    </div>


    <div class="form-horizontal">
	    <div class="form-group">
		    <label for="seminar_required" class="col-xs-1 control-label">צריך סמינר</label>
		    <div class="col-xs-11">
		      <select class="form-control" id="seminar_required" 
		              ng-model="witness.seminar_required"
		              ng-options="o.v as o.n for o in [{ n: 'צריך', v: true }, { n: 'לא צריך', v: false }]">
		      </select>
		    </div>
		  </div>
	  </div>

	  <div class="form-group">
      <label for="free_text" class="control-label">עוד משהו שאנחנו צריכים לדעת?</label>
      <textarea class="form-control" id="free_text" 
      					ng-model="witness.free_text">
			</textarea>
    </div>

    <div class="form-group ">
	    <label for="special_population" class="col-xs-1 control-label">אוכלוסיה מיוחדת</label>
	    <div class="col-xs-11">
	      <select class="form-control" id="special_population" 
	              ng-model="witness.special_population"
	              ng-options="o.v as o.n for o in [{ n: 'כן', v: true }, { n: 'לא', v: false }]">
	      </select>
	    </div>
	  </div>



    <button ng-click="submit()" class="btn btn-warning">שלח</button>
  </form>
</div>

