<table class="hosts_table">
	<thead>
		<th class="right">
			מארח
			<div class="line"></div>
		</th>
		<th>
			כתובת
			<div class="line"></div>
		</th>
		<th >
			עיר
			<div class="line"></div>
		</th>
		<th></th>
	</thead>
	<tbody>
		
	</tbody>
</table>
