<div class="col-xs-12" id="host-edit-form" ng-controller="HostEditController"
     ng-init="init('<%= @host.to_json %>')">

  <h2>פרטים נוספים</h2>
  <p>כדי שנוכל לעזור לך בארגון הערב אנחנו צריכים עוד קצת פרטים</p>

  <form name="stepOne" ng-show="'stepOne' === steps[stepIndex]" >

    <div class="form-group">
      <label for="phone">טלפון</label>
      <input type="text" class="form-control"
             id="phone"
             ng-model="host.phone"
             required>
    </div>

    <div class="form-group">
      <label>האם אירחת בעבר ערב זכרון בסלון</label>
      <div class="radio">
        <label>
          <input type="radio"
                 name="hostedBefore"
                 id="hostedBeforeFalse"
                 ng-value="false"
                 ng-model="host.hosted_before"
                 checked>
          פעם ראשונה שאני מארח זיכרון בסלון
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio"
                 name="hostedBefore"
                 id="hostedBeforeTrue"
                 ng-value="true"
                 ng-model="host.hosted_before">
          אירחתי בעבר ערב זכרון בסלון
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>האם אתה מייצג ארגון?</label>
      <p class="help-block">*לפחות 5 מוקדים של זיכרון בסלון</p>
      <div class="radio">
        <label>
          <input type="radio"
                 name="organization"
                 id="organizationFalse"
                 ng-value="false"
                 ng-model="organization"
                 ng-change='orgChanged(organization)'
                 checked>
          לא
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio"
                 name="organization"
                 id="organizationTrue"
                 ng-value="true"
                 ng-model="organization"
                 ng-change='orgChanged(organization)'>
          כן, אני מייצג/ת ארגון
        </label>
      </div>
    </div>

    <div ng-if="organization">
      <div class="form-group">
        <label for="orgName">שם הארגון</label>
        <input type="text" class="form-control"
               id="orgName"
               ng-model="host.org_name">
      </div>
    </div>

    <button ng-click="submitStepOne()" class="btn btn-warning">המשך</button>
  </form>

  <form name="stepTwo" ng-show="'stepTwo' === steps[stepIndex]" >
    <div class="form-group">
      <label for="address">כתובת</label>
      <input type="text" class="form-control"
             id="address"
             placeholder="מצדה 6, באר שבע, ישראל"
             ng-model="host.address"
             required>

      <input type="hidden" ng-model="host.lat" />
      <input type="hidden" ng-model="host.lng" />
      <input type="hidden" ng-model="host.city_name" />
    </div>

    <label>נגישות</label>
    <p>חשוב לנו לדעת...</p>

    <div class="form-horizontal">
      <div class="form-group">
        <label for="floor" class="col-xs-1 control-label">קומה</label>
        <div class="col-xs-11">
          <select class="form-control" id="floor" 
                  ng-model="host.floor"
                  ng-options="o.v as o.n for o in [
                    { n: 'קרקע', v: 0 }, { n: '1', v: 1 },
                    { n: '2', v: 2 }, { n: '3', v: 3 },
                    { n: '4', v: 4 }, { n: '5', v: 5 },
                    { n: '6', v: 6 }, { n: '7', v: 7 },
                    { n: '8', v: 8 }, { n: '9+', v: 9 }
                  ]">
            <option ng-show="!host.floor" value="">בחר/י</option>
          </select>
        </div>
      </div>

      <div class="form-group ">
        <label for="elevator" class="col-xs-1 control-label">מעלית</label>
        <div class="col-xs-11">
          <select class="form-control" id="elevator" 
                  ng-model="host.elevator"
                  ng-options="o.v as o.n for o in [{ n: 'כן', v: true }, { n: 'לא', v: false }]">
            <option ng-show="!host.elevator" value="">בחר/י</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>מה התאריך שבו מתוכנן הערב שלך?</label>
      <p>אנחנו ממליצים לערוך ערב זיכרון בסלון בתאריך בלה בלה בלה...</p>

      <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" 
             ng-model="host.event_date"  is-open="eventDate.isOpen" ng-click="openDatepicker()" />
    </div>

    <div class="form-group">
      <label>באיזה שעה?</label>
      <input type="text" ng-model="host.event_time" class="form-control" />
    </div>  

    <button class="btn btn-info" ng-click="back()">חזרה</button>
    <button class="btn btn-warning" ng-click="submitStepTwo()">המשך</button>
  </form>

  <form name="stepThree" ng-show="'stepThree' === steps[stepIndex]" >
    <div class="form-group">
      <label for="event_language">השפה בה יתנהל הערב</label>
      <div ng-show="!otherLanguageVisible">
        <select class="form-control" id="event_language" 
                ng-model="host.event_language" ng-change="languageChanged()">
          <option ng-show="!host.language" value="">בחר/י</option>
          <option value="hebrew">עברית</option>
          <option value="english">English</option>
          <option value="arabic">العربية</option>
          <option value="french">Français</option>
          <option value="other">אחר</option>
        </select>
      </div>

      <input type="text" class="form-control" 
             ng-model="host.event_language"
             ng-show="otherLanguageVisible" />
    </div>

    <div class="form-group">
      <label>האם אתה צריך עזרה במציאת איש עדות?</label>
      <p class="help-block">אנשי העדות הם בלה בלה בלה...</p>

      <div>
        <select class="form-control" id="survivor_needed" 
                ng-model="host.survivor_needed"
                 ng-options="o.v as o.n for o in [{ n: 'כן', v: true }, { n: 'לא', v: false }]">
         <option ng-show="!host.survivor_needed" value="">בחר/י</option>
        </select>
      </div>
    </div>  

    <div class="form-group">
      <label>האם אתה מתכנן ערב פתוח או פרטי?</label>
      <p>אל דאגהת תמיד אפשר לשנות...</p>

      <div>
        <select class="form-control" id="strangers" 
                ng-model="host.strangers"
                ng-options="o.v as o.n for o in [{ n: 'פתוח', v: true }, { n: 'פרטי', v: false }]">
          <option ng-show="!host.strangers" value="">בחר/י</option>
        </select>
      </div>
    </div>  

    <div class="form-group" ng-show="host.strangers">
      <label for="max_guests" class="control-label">מס מקומות מקסימאלי</label>
      <input type="number" class="form-control" id="max_guests" ng-model="host.max_guests">
    </div>

    <div class="form-group">
      <label for="free_text" class="control-label">עוד משהו שאנחנו צריכים לדעת?</label>
      <textarea class="form-control" id="free_text" ng-model="host.free_text"></textarea>
    </div>





    <button class="btn btn-info" ng-click="back()">חזרה</button>
    <button class="btn btn-warning"  ng-click="submitStepThree()">סיים</button>
  </form>
</div>
