<div id="success">
	<div class="request_sent">
		Your request was sent
	</div>
	<div class="text">
		Your host will contact you in the next few days
	</div>

	<div id="links">
		<div class="link"><%= link_to "Our facebook page", "http://www.facebook.com" %></div>
		<div class="link"><%= link_to "Back to website", "http://www.zikaronbasalon.com" %></div>
	</div>
</div>