<div id="success">
	<div class="request_sent">
		בקשתך נשלחה!
	</div>
	<div class="text">
		המארח/ת יצרו איתך קשר בימים הקרובים
	</div>

	<div id="links">
		<div class="link"><%= link_to "לעמוד הפייסבוק שלנו", "http://www.facebook.com" %></div>
		<div class="link"><%= link_to "לאתר זיכרון בסלון", "http://www.zikaronbasalon.com" %></div>
	</div>
</div>