<div id="success">
	<div class="request_sent">
		<%= image_tag "checkmark.png" %>
		בקשתך נשלחה!
	</div>
	<div class="text">
		המארח/ת יצרו איתך קשר בימים הקרובים
	</div>

	<div id="links">
		<div class="link"><%= link_to "לעמוד הפייסבוק שלנו", "https://www.facebook.com/ZikronBaSalon" %></div>
		<div class="link"><%= image_tag "website.png" %><%= link_to "לאתר זיכרון בסלון", "http://www.zikaronbasalon.com" %></div>
	</div>
</div>