<div id="success">
	<div class="request_sent">
		Your request was sent
	</div>
	<div class="text">
		Your host will contact you in the next few days
	</div>

	<div class="box">
		<h1>So what now?</h1>
		<div class="square">
			<%= image_tag "test_image.png" %>
			<h2>Some more text</h2>
			<div class="text">Some text that says some stuff. Shani will later replace this with whatever shwe wants</div>
			<div class="btn"><%= link_to "Hosts Group", "http://www.zikaronbasalon.com" %></div>
		</div>

		<div class="v_line"></div>

		<div class="square">
			<%= image_tag "test_image.png" %>
			<h2>Some more text</h2>
			<div class="text">Some text that says some stuff. Shani will later replace this with whatever shwe wants</div>
			<div class="btn"><%= link_to "Download Package", "http://www.zikaronbasalon.com" %></div>
		</div>
	</div>



</div>