<div id="success">
	<div class="request_sent">
		תודה שבחרת לקחת חלק ב"זיכרון בסלון"!
	</div>
	<div class="text">
		מייל אישור עם כל הפרטים בדרך אליך
	</div>

	<div class="box">
		<h1>אז מה עכשיו</h1>
		<div class="square">
			<%= image_tag "test_image.png" %>
			<h2>הורידו את הערכה השלמה למארח זיכרון בסלון</h2>
			<div class="text">בערכה תמצאו: מערך עם הצעות לתוכן הדיון, תעודת הוקרה לאיש/אשת העדות, תמונה ל-event בפייסבוקת שילוט לבנין בערב עצמו ועוד...</div>
			<div class="btn"><%= link_to "להורדת הערכה", "http://www.zikaronbasalon.com" %></div>
		</div>

		<div class="v_line"></div>

		<div class="square">
			<%= image_tag "test_image.png" %>
			<h2>הצטרפו לקבוצת המארחים בפייסבוק</h2>
			<div class="text">הקבוצה מרכזת את כל מארחי זיכרון בסלון. זהו המקום להתייעץ איתנו ועם מאחרים אחרים, ולחלוק תכנים מעניינים ורעיונות לגבי הערב.</div>
			<div class="btn"><%= link_to "לקבוצת המארחים", "http://www.zikaronbasalon.com" %></div>
		</div>
	</div>



</div>