<div class="col-xs-12" id="manager-index" ng-controller="ManagerIndexController"
     ng-init="init()">

  <form class="form-inline" ng-submit="createManager()">
    <div class="form-group">
      <label for="email">מייל</label>
      <input
        class="form-control"
        type="email"
        name="email"
        ng-model="email"
        placeholder="מייל מוביל">
    </div>

    <div class="form-group">
      <label for="name">מייל</label>
      <input
        class="form-control"
        type="text"
        name="name"
        ng-model="name"
        placeholder="שם מוביל">
    </div>

    <div class="form-group">
      <label for="password">מייל</label>
      <input
        class="form-control"
        type="text"
        name="password"
        ng-model="password"
        placeholder="סיסמא מוביל">
    </div>

    <button type="submit" class="btn btn-default">הוסף מוביל</button>

  </form>

  <form class="form-inline" ng-submit="createManager()">

    <div class="form-group">
      <label for="current_movil">מייל</label>
      <input
        class="form-control"
        type="email"
        name="current_movil"
        ng-model="current_movil"
        typeahead-on-select="loadMovil($item)"
        typeahead-editable="false"
        uib-typeahead="movil as movil.temp_email for movil in getManager($viewValue)"
        ng-model-options="{ debounce: 200 }"
        placeholder="מייל מוביל">
    </div>

    <div class="form-group">
      <label for="country_id"><%= t 'shared.country' %></label>
      <input
        class="form-control"
        type="text"
        name="country_id"
        ng-model="current_country"
        ng-change="host_current_city = ''"
        typeahead-editable="false"
        uib-typeahead="country as country.printable_name for country in getCountryLocation($viewValue)"
        ng-model-options="{ debounce: 200 }"
        placeholder="<%= t 'shared.country_placeholder' %>">
    </div>

    <div class="form-group">
      <label for="city_id"><%= t '.city' %></label>
      <input
        class="form-control"
        type="text"
        name="city_id"
        ng-model="current_city"
        typeahead-on-select="addMovilCity($item)"
        ng-disabled="!current_country"
        ng-model-options="{ debounce: 200 }"
        uib-typeahead="city as city.name for city in getCityLocation($viewValue, current_country.id)"
        placeholder="<%= t 'shared.city_placeholder' %>">

      <button type="submit" class="btn btn-default">הוסף מוביל</button>

      <span ng-repeat="city in cities_list" class="tag">
        {{city.name}}
        <span class="glyphicon glyphicon-remove" ng-click="removeMovilCity(city)"></span>
      </span>
    </div>

  </form>

  <table class="table" ng-if="current_manager">
    <thead>
      <tr>
        <th>שם</th>
        <th>מייל</th>
        <th>ערים</th>
        <th>פעולות</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ current_manager.user ? current_manager.user.full_name : 'לא רשום' }}</td>
        <td>{{ current_manager.user ? current_manager.user.email : current_manager.temp_email }}</td>
        <td>
          <span ng-repeat="city in current_manager.cities" class="tag">
            {{city.name}}
            <span class="glyphicon glyphicon-remove" ng-click="removeCity(current_manager, city)"></span>
          </span>
        </td>
        <td>
          <button type="button" class="btn btn-danger" ng-click="deleteManager(current_manager)">מחיקת מוביל</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
