<div class="col-xs-12" ng-controller="ManagerShowController"
     ng-init="init(<%= @manager.hosts.to_json(:include => [:user, :witness]) %>,<%= @manager.witnesses.to_json(:include => :city) %>)">

   <form class="form-inline" ng-submit="createManager()">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="search.query" placeholder="חיפוש חופשי" />
    </div>

    <div class="form-group">
      <select class="form-control" ng-model="search.survivor_needed"
              ng-options="o.v as o.n for o in [{ n: 'צריך', v: true }, { n: 'לא צריך', v: false }]">
        <option value="">צריך/לא צריך איש עדות</option>
      </select>
    </div> 

    <div class="form-group">
      <select class="form-control" ng-model="search.has_survivor"
              ng-options="o.v as o.n for o in [{ n: 'צוות', v: true }, { n: 'לא צוות', v: false }]">
        <option value="">צוות/לא צוות איש עדות</option>
      </select>
    </div>  

    <div class="form-group">
      <select class="form-control" ng-model="search.strangers"
              ng-options="o.v as o.n for o in [{ n: 'פתוח', v: true }, { n: 'פרטי', v: false }]">
        <option value="">ערב פתוח/פרטי</option>
      </select>
    </div>  
  </form>

  <table class="table host-table">
    <thead>
      <tr>
        <th>שם</th>
        <th>עיר</th>
        <th>רחוב</th>
        <th>תאריך</th>
        <th>נרשם בתאריך</th>
        <th>צריך איש עדות</th>
        <th>צוות איש עדות</th>
        <th>ערב פתוח</th>
      </tr> 
    </thead>
    <tbody>
      <tr ng-repeat="host in filterHosts(hosts)" ng-click="editHost(host)">
        <td>{{ host.user.full_name }}</td>
        <td>{{ host.user.email }}</td>
        <td>{{ host.phone }}</td>
        <td>{{ host.address }}</td>
        <td>{{ formatDate(host.created_at) }}</td>
        <td>{{ formatBool(host.survivor_needed) }}</td>
        <td>
        <span ng-if="host.witness">
            {{ host.witness.full_name }}
          </span>

          <a ng-if="!host.witness" ng-click="openWitnessPopup($event, host)">
            צוות איש עדות
          </a>
        </td>
        <td>{{ formatBool(host.strangers) }}</td>
      </tr>
    </tbody>
  </table>
</div>


<script type="text/ng-template" id="witness-popup.html">
  <div class="modal-header">
    <h3 class="modal-title">בחר איש עדות</h3>
  </div>
  <div class="modal-body">
      <table class="table host-table">
        <thead>
          <tr>
            <th>שם</th>
            <th>עיר</th>
            <th>שפה</th>
            <th>יכול מדרגות</th>
            <th>צריך סמינר</th>
            <th>אוכלוסיה מיוחדת</th>

          </tr> 
        </thead>
        <tbody>
          <tr ng-repeat="witness in witnesses" ng-click="selectWitness(witness)">
            <td>{{ witness.full_name }}</td>
            <td>{{ witness.city.name }}</td>
            <td>{{ witness.language }}</td>
            <td>{{ formatBool(witness.stairs) }}</td>
            <td>{{ formatBool(witness.seminar_required) }}</td>
            <td>{{ formatBool(witness.special_population) }}</td>
          </tr>
        </tbody>
      </table>

      <p>
        צוות את: {{ selected.witness.full_name }}
      </p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">אישור</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">ביטול</button>
  </div>
</script>