<p>
	<%= @guest.user.first_name %>, <%= @host.user.first_name %> מחכה לך בסלון!
</p>

<p>
רק רצינו להזכיר לך כי בעוד יומיים יתקיים זיכרון בסלון אצל <%= @host.user.first_name %>.  מומלץ להתקשר למארח, להכיר, להציע האם כדאי להביא משהו ולתאם שעת הגעה.
</p>
<p>
במידה ולא יתאפשר לך להגיע, חשוב מאוד ליצור קשר עם המארח ולעדכן אותו. 
	<a href="http://zikaronbasalon.herokuapp.com/my-profile">
		לפרטי הסלון
	</a>
</p>

<p>
*כדי לראות את הפרופיל שלך, יש לשים לב כי התחברת לאתר. במידה ואין את המילה ״הפרופיל שלי״ מצד ימין למעלה, יש ללחוץ על ״התחבר/י״ מצד שמאל למעלה.
</p>



