<p>
	<%= @guest.user.first_name %>, <%= @host.user.first_name %> מחכה לך בסלון!
</p>

<p>
רק רצינו להזכיר לך כי בעוד יומיים יתקיים זיכרון בסלון אצל <%= @host.user.first_name %>. <br />
במידה ולא יתאפשר לך להגיע, יש ליצור קשר עם המארח ולעדכן אותו.
</p>

<p>
כדאי להתקשר למארח ולשאול האם יש להביא משהו לערב ולתאם שעת הגעה.
</p>

<a href="http://zikaronbasalon.herokuapp.com/my-profile">
	לפרטי הסלון
</a>



