<h2>בקשתך להתארח בערב זכרון בסלון אושרה על ידיו המארח</h2>

<p>פרטים ליצירת קשר:
<br>
שם: <%= @host.full_name %>
<br>
כתובת: <%= @host.address %>
<br>
טלפון: <%= @host.phone %>
<br>
מייל: <%= @host.email %>
</p>

<p>
	תודה!
	<br>
	צוות זכרון בסלון
</p>