<h2><%= @host.f_name %> לא יכל להענות לבקשתך</h2>

<p>ככל הנראה נגמר לו המקום... אנו ממליצים שתנסה/י לשלוח בקשת התארחות נוספת ב<%= link_to "אתר", "http://zikaronbasalon.herokuapp.com" %></p>

<p>
	תודה!
	<br>
	צוות זכרון בסלון
</p>