<p>בקשתך להתארח בערב זיכרון בסלון אושרה על ידיו המארח</p>

<p>פרטים ליצירת קשר:
<br>
שם: <%= @host.full_name %>
<br>
כתובת: <%= @host.address %>
<br>
טלפון: <%= @host.phone %>
<br>
מייל: <%= @host.email %>
</p>

<p>
	תודה!
	<br>
	צוות "זיכרון בסלון"
</p>