<p><%=  @guest.name %> 
	<% if @guest.num_of_friends  && @guest.num_of_friends.to_i > 0 %> 
		ו <%= @guest.num_of_friends %> אורחים נוספים מעוניינים 
	<% else %>	
	 	מעוניין  
	<% end %> 
	להתארח בערב זיכרון בסלון אצלך בבית.
</p>

<p>
ברגע שתאשר את הבקשה פרטי הקשר שלך ישלחו אליו 
</p>

<%= link_to invite_url(@invite, :locale => :he) do %>
	<div class="btn">
		מאשר את הבקשה
	</div>
<% end %>

<p>
	תודה!
	<br>
	צוות "זיכרון בסלון"
</p>
