<div id="mask" class="hidden"></div>

<div class="container_inner" id="host_list">
	 <div class="title">List of Hosts Zikaron Basalon 2014</div>
	 <br>
	 <div class="explenation">
	 		Here will be an explenation text saying bla bla bla and bla bla bla and what you should do in zikaron basalon and some more text and some more.
	 </div>

	 <%= select_tag :city_select, options_from_collection_for_select(City.all, :id, :name), include_blank: true %>

	<div id="main_content">
		<div id="hosts_table">
			<%= render 'hosts/hosts_table' %>
		</div>

		<div id="no_salon">
			<div class="label">Didn't find a living room?</div>
			<div class="content">Why don't you and your friends host a zikaron in your salon? We will help you an shit...</div>
			<%= link_to "Click for details", "http://www.zikaronbasalon.com" %>
		</div>
	</div>




	<div id="register" class="hidden">
		<%= render 'guests/register' %>
	</div>
</div>







