<style type="text/css" media="screen">
#wrap {
    direction: ltr;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background-color: transparent
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

a {
    color: #337ab7;
    text-decoration: none
}

h1,
h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,
h2 {
    margin-top: 20px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

p {
    margin: 0 0 10px
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:992px) {
    .col-md-12 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.nav-tabs>li.active>a {
    color: #555;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.container:after,
.container:before,
.nav:after,
.nav:before,
.row:after,
.row:before {
    content: " ";
    display: table
}

.container:after,
.nav:after,
.row:after {
    clear: both
}

@-ms-viewport {
    width: device-width
}

.live-pages {
    background: #454954
}

.live-pages .page-header {
    margin: 0;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
    background: #fff
}

.live-pages .page-header h1 {
    font-size: 25px;
    line-height: 35px;
    margin: 0
}

.live-pages .page-agreement {
    padding: 30px 0;
    background: #f4f9fd;
    background: -moz-linear-gradient(top, #f4f9fd 0, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f4f9fd), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, #f4f9fd 0, #fff 100%);
    background: -o-linear-gradient(top, #f4f9fd 0, #fff 100%);
    background: -ms-linear-gradient(top, #f4f9fd 0, #fff 100%);
    background: linear-gradient(to bottom, #f4f9fd 0, #fff 100%)
}

.live-pages .page-agreement .page-tabs .nav-tabs {
    border: 0;
    margin: 10px 0 30px 0
}

.live-pages .page-agreement .page-tabs .nav-tabs li a {
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fff
}

.live-pages .page-agreement .page-tabs .nav-tabs li.active a {
    background: #0053a7;
    color: #fff
}

.live-pages .page-agreement .tab-content {
    font-size: 18px;
    line-height: 28px;
    word-wrap: break-word
}

.live-pages .page-agreement .tab-content h1 {
    font-size: 30px;
    margin: 0 0 30px 0
}

.live-pages .page-agreement .tab-content h2 {
    font-size: 24px;
    margin: 0 0 30px 0
}

.live-pages .page-agreement .tab-content p {
    margin: 0 0 30px 0;
    color: #333
}

.live-pages .page-agreement .tab-content ul {
    margin: 0 0 30px 0
}

.live-pages .page-credits {
    background: #17191d;
    padding: 20px 0;
    color: #FFF;
    font-size: 14px;
    line-height: 18px
}

.live-pages .page-credits p {
    margin: 0;
}

.live-pages .page-credits a {
    color: #EEE
}
</style>
<div id="wrap">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                       Zikaronbasalon
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="page-agreement">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <h1>Privacy Policy</h1>
                        <p>Last updated: February 05, 2018</p>
                        <p>Zikaronbasalon ("us", "we", or "our") operates the https://zikaronbasalonstaging.herokuapp.com website (the "Service").</p>
                        <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.</p>
                        <p>We will not use or share your information with anyone except as described in this Privacy Policy. Privacy Policy for Zikaronbasalon based on the <a href="https://termsfeed.com/blog/sample-privacy-policy-template/">Privacy Policy example from TermsFeed</a>.</p>
                        <p>We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at https://zikaronbasalonstaging.herokuapp.com/pages/privacy_policy</p>
                        <h2>Information Collection And Use</h2>
                        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, telephone number, email and address ("Personal Information").</p>
                        <h2>Log Data</h2>
                        <p>We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
                        <h2>Cookies</h2>
                        <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
                        <p>We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
                        <h2>Service Providers</h2>
                        <p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
                        <p>These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
                        <h2>Security</h2>
                        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
                        <h2>Links To Other Sites</h2>
                        <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
                        <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
                        <h2>Children's Privacy</h2>
                        <p>Our Service does not address anyone under the age of 13 ("Children").</p>
                        <p>We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we discover that a Children under 13 has provided us with Personal Information, we will delete such information from our servers immediately.</p>
                        <h2>Changes To This Privacy Policy</h2>
                        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
                        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
                        <h2>Contact Us</h2>
                        <p>If you have any questions about this Privacy Policy, please contact us: <a href="mailto:info@zikaronbasalon.com>">info@zikaronbasalon.com></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Privacy Policy of https://zikaronbasalonstaging.herokuapp.com
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<noscript id="deferred-styles">
<link href="https://d2urp0h3iwq4oq.cloudfront.net/css/livepages.min.css?v=1507114408" rel="stylesheet" type="text/css" />
</noscript>
 -->
<script type="text/javascript">
/*var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) {
    raf(function() {
        window.setTimeout(loadDeferredStyles, 0);
    });
} else {
    window.addEventListener('load', loadDeferredStyles);
}
*/
</script>
<!-- <script type="text/javascript" src="https://d2urp0h3iwq4oq.cloudfront.net/js/livepages.min.js?v=1491295303"></script>
 -->