<div class="col-xs-12 welcome-page">
	<div class="row">
    <div class="col-xs-12 text-center">
      <h3><%= t '.title' %></h3>
      <p class="subtitle">
      	<div class="col-xs-8 col-xs-offset-2">
      		<%= simple_format(t('.subtitle', signin_link: link_to(t('.link_1_text'),user_session_path), host_link: link_to(t('.link_2_text'), signup_path(type: 'host')), guest_link: link_to(t('.link_3_text'), signup_path(type: 'guest')))) %>
      	</div>
      </p>
    </div>
	</div>
</div>