<div class="col-xs-12 home-page">
	<div class="row">
    <div class="col-xs-12 text-center">
      <h3><%= t '.title' %></h3>
      <p class="subtitle">
      	<%= simple_format(t('.subtitle', signin_link: link_to(t('.link_1_text'),user_session_path), host_link: link_to(t('.link_2_text'), signup_path(type: 'host')), guest_link: link_to(t('.link_3_text'), signup_path(type: 'guest')))) %>
      </p>
    </div>
	</div>
</div>