<div class="col-xs-12 welcome-page" ng-controller="UserWelcomeController" ng-init="init('Host')">
	<div class="row">
    <div class="col-xs-12 text-center">
      <% if current_user.nil? %>
        <%= render 'welcome_new_user' %>
      <% elsif current_user.was_host? %>
        <%= render 'welcome_host' %>      
      <% elsif current_user.was_guest? %>
        <%= render 'welcome_guest' %>
      <% end %>
    </div>
	</div>
</div>