<% title "Cities" %>

<table>
  <tr>
    <th>Name</th>
    <th>Manager</th>
  </tr>
  <% for city in @cities %>
    <tr>
      <td><%= city.name %></td>
      <td><%= city.manager_email %></td>
      <td><%= link_to "Show", city %></td>
      <td><%= link_to 'Delete', city_path(city),
                        method: :delete, data: { confirm: 'אתה בטוח?' } %></td>
    </tr>
  <% end %>
</table>

