/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require reset
 *= require jquery.ui.all
 */

 
body {
	background-color: #454595 !important;
}

nav {
	background-color: gray;
}

.hidden {
	display: none;
}


#container{
	
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom:-30px; /* the bottom margin is the negative value of the footer's height */
	background-color: white;
}
footer, .push {
	height: 30px; /* '.push' must be the same height as 'footer' */
	background-color: gray;
}