/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require reset
 *= require jquery.ui.all
 */

@import url(http://fonts.googleapis.com/css?family=Alef:400,700);

html,body {
	height: 100%;
	//min-height: 100% !important;
	font-family: 'Alef', sans-serif;
}
body {
	direction: rtl;
	font-family: 'Alef', sans-serif;
	background-color: #eaeaea;
}

#header {
	font-family: 'Alef', sans-serif;
	min-width: 1200px;
	height: 77px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding-right: 40px;
	border-bottom: 2px solid #cecbcb;
	box-sizing: border-box;

	#logo {
		display: inline-block;
		height: 77px;
	}

	.header_links {
		display: inline-block;
		margin-right: 28px;
		vertical-align: top;
		margin-top: 34px;
		.header_link {
			font-size: 18px;
			color: #898989;
			display: inline-block;
			margin-left: 38px;
			a {
				text-decoration: none;
				color: #898989;
				&:visited {
					color: #898989;
				}
			}
		}
	}

	#staff {
		float: left;
		width: 116px;
		background-color: #5e5e5e;
		font-size: 20px;
		color: #ededed;
		height: 100%;
		line-height: 77px;
		text-align: center;
	}
}


#footer {
	height: 60px;
	width: 100%;
	background-color: #424242;
	line-height: 60px;
	color: #a9a9a9;
	font-size: 16px;
	img {
		vertical-align: middle;
		width: 20px;
		height: 20px;
	}
	a{
		text-decoration: none;
		color: #a9a9a9;
		&:visited {olor: #a9a9a9;}
	}
	.part {
		display: inline;
		margin-left: 15px;
	}
}

.footer_wrapper {
	margin: auto;
	text-align: center;
	line-height: 60px;
}

#container {
	min-height: 100%;
	min-width: 1200px;
	background-color: #eaeaea;
	margin-left: auto;
	margin-right: auto;
	//position: relative;
	font-family: 'Alef', sans-serif;
	margin-bottom: -60px;
	&:after {
		content: "";
  	display: block;
  	height: 60px;
	}
}

.container_inner {
	margin-right: 135px;
	padding-top: 53px;
}

.title {
	color: #3b3b3b;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px solid #f5dd23;
	line-height: 26px;
	display: inline;
	margin-bottom: 24px;
}
.explenation {
	width: 522px;
	color: #4d4d4d;
	font-size: 16px;
	line-height: 24px;
	margin-top: 24px;
}
#host_list {
	#city_select {
		margin-top: 18px;
		width: 295px;
		height: 37px;
		border: 1px solid #d7d7d7; // stroke
		border-radius: 2px; // border radius
		background-clip: padding-box; // prevents bg color from leaking outside the border
		background-color: #fff; // layer fill content + color overlay

	}
}

.hidden {
	display: none;
}

table.hosts_table {
	width: 645px;
	margin-top: 55px;
	thead {
		text-align: right;
		.line {
			height: 3px;
			background-color: #c6c5c5;
		}
		th.right {
			width: 95px;
			.line {
				width: 75px;
			}
		}
		th {
			color: #252525;
			font-size: 20px;
			font-weight: bold;
			line-height: 30px;
			width: 190px;
			.line {
				width: 170px;
			}
		}
	}
	tbody {
		color: #616161;
		font-size: 18px;
		tr {
			height: 100px;
			line-height: 100px;
			border-bottom: 1px solid #c6c6c6;
		}
	}
}

.send {
	width: 170px;
	height: 39px;
	border-radius: 2px; // border radius
	background-clip: padding-box; // prevents bg color from leaking outside the border
	background-color: #f5dd23; // layer fill content + color overlay
	box-shadow : 0 1px 3px rgba(0,0,0,.2); // drop shadow
	color: #595959;
	font-size: 18px;
	font-weight: bold;
	line-height: 39px;
	text-align: center;

	&:hover{
		cursor: pointer;
		background-color: #feec67;
	}
}

.request_btn {
	width: 170px;
	height: 39px;
	border-radius: 2px; // border radius
	background-clip: padding-box; // prevents bg color from leaking outside the border
	box-shadow : 0 1px 3px rgba(0,0,0,.2); // drop shadow
	color: #595959;
	font-size: 18px;
	font-weight: bold;
	line-height: 39px;
	text-align: center;

	&.send {
		background-color: #f5dd23; // layer fill content + color overlay
		&:hover{
			cursor: pointer;
			background-color: #feec67;
		}
	}

	&.sent {
		background-color: #c9c9c9; // layer fill content + color overlay
	}
}

#register {
	width: 455px;
	height: 395px;
	background-color: #fff; // layer fill content + color overlay
	box-shadow: 0 0 14px rgba(0,0,0,.25); // drop shadow
	position: absolute;
	top: 184px;
	right: 378px;
	text-align: center;

	h1 {
		margin-top: 29px;
		color: #3a3939;
		font-size: 24px;
		line-height: 34px;
		font-weight: bold;
	}

	h2 {
		font-size: 16px;
		line-height: 24px;
	}

	form {
		margin-top: 13px;
	}

	input.string,input.numeric {
		width: 264px;
		height: 37px;
		border: 1px solid #919191; // stroke
		border-radius: 2px; // border radius
		background-clip: padding-box; // prevents bg color from leaking outside the border
		background-color: #fff; // layer fill content + color overlay
		box-sizing: border-box;
		margin-bottom: 13px;
		font-size: 18px;
		color: #616161;
		padding-right: 13px;
	}

	.btn {
		width: 162px;
		height: 46px;
		margin-top: 15px;
		border-radius: 2px; // border radius
		background-clip: padding-box; // prevents bg color from leaking outside the border
		background-color: #f5dd23; // layer fill content + color overlay
		box-shadow : 0 1px 3px rgba(0,0,0,.2); // drop shadow
		color: #595959;
		font-size: 18px;
		font-weight: bold;
		line-height: 39px;
		text-align: center;

		&:hover{
			cursor: pointer;
			background-color: #feec67;
		}
	}

	.x {
		font-size: 18px;
		position: absolute;
		top: 11px;
		right: 11px;
		color: #ccc;
		cursor: pointer;
	}
}

#mask {
	background-color: #c2bfbf;
	width: 100%;
	height: 100%;
	opacity: 0.85;
	position: absolute;
	top:0;
	right: 0;
}

#success {
	text-align: center;
	padding-top: 105px;
	padding-bottom: 105px;
	.request_sent {
		color: #4d4d4d;
		font-size: 30px;
		line-height: 40px;
	}

	.text {
		color: #4d4d4d;
		font-size: 16px;
		line-height: 24px;
	}

	#links {
		margin-top: 90px;

		.link {
			display: inline-block;
			margin-left: 20px;
			width: 265px;
			height: 62px;
			border-radius: 2px; // border radius
			background-clip: padding-box; // prevents bg color from leaking outside the border
			box-shadow : 0 1px 3px rgba(0,0,0,.2); // drop shadow

			line-height: 62px;
			text-align: center;
			background-color: #f7b519; // layer fill content + color overlay
			&:hover{
				cursor: pointer;
				background-color: #feec67;
			}
			a {
				color: #fff;
				font-size: 20px;
				font-weight: bold;
				text-decoration: none;
			}
			img {
				margin-left: 10px;
			}
		}
	}
}

#hosts_table {
	display: inline-block;
}

#no_salon {
	display: inline-block;
	vertical-align: top;
	margin-top: 120px;
	margin-right: 114px;
	width: 262px;
	.label {
		font-size: 27px;
		color: #616161;
	}

	.content {
		color: #616161;
	}

	a {
		line-height: 40px;
		color: #616161;
	}
}

.form_header {
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
	color: #4d4d4d;
}

form {
	.control-group {
		label {
			width: 170px;
			text-align: left;
			font-size: 18px;
			color: #616161;
			display: inline-block;
		}
	}
	.controls {
		display: inline;
		input,select {
			margin-right: 20px;
			margin-bottom: 20px;
			width: 264px;
			height: 37px;
			border: 1px solid #d7d7d7; // stroke
			border-radius: 2px; // border radius
			background-color: #fff; // layer fill content + color overlay
			padding-right: 12px;
			color: #616161;
			font-size: 18px;
			font-family: 'Alef', sans-serif;
			box-sizing: border-box;
		}
		textarea {
			margin-right: 195px;
			padding-right: 12px;
			color: #616161;
			font-size: 18px;
			font-family: 'Alef', sans-serif;
			box-sizing: border-box;
			padding-top: 15px;
			width: 358px;
			height: 193px;
		}

		.host_submit {
			margin-right: 195px;
			width: 162px;
			height: 46px;
			margin-top: 15px;
			border-radius: 2px; // border radius
			background-clip: padding-box; // prevents bg color from leaking outside the border
			background-color: #f5dd23; // layer fill content + color overlay
			box-shadow : 0 1px 3px rgba(0,0,0,.2); // drop shadow
			color: #595959;
			font-size: 18px;
			font-weight: bold;
			line-height: 39px;
			text-align: center;

			&:hover{
				cursor: pointer;
				background-color: #feec67;
			}
		}
	}
}

.box {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 80px;
	width: 777px;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	color: #4d4d4d;
	h1 {
		font-size: 30px;
		font-weight: bold;
	}

	h2 {
		font-size: 24px;
		font-weight: bold;
		line-height: 33px;
	}

	.text {
		font-size: 15px;
		line-height: 19px;
	}

	.square {
		width: 318px;
		display: inline-block;
		vertical-align: top;
		margin-top: 40px;
		img {
			margin-bottom: 20px;
		}
	}

	.v_line {
		display: inline-block;
		margin-top: 75px;
		width: 1px;
		background-color: #969696;
		height: 197px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.btn {
		width: 162px;
		height: 46px;
		margin-top: 15px;
		border-radius: 2px; // border radius
		background-clip: padding-box; // prevents bg color from leaking outside the border
		background-color: #f5dd23; // layer fill content + color overlay
		box-shadow : 0 1px 3px rgba(0,0,0,.2); // drop shadow
		color: #595959;
		font-size: 18px;
		font-weight: bold;
		line-height: 39px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		text-decoration: none;
		&:hover{
			cursor: pointer;
			background-color: #feec67;
		}
	}
}

#staff_container{
	padding-top: 47px;
	font-size: 16px;
	color: #616161;
	margin-right: 40px;
	margin-left: 40px;
	font-family: 'Alef', sans-serif;
	.filter_by {
		display: inline;
	}
	#export_to_excel {
		float: left;
		cursor: pointer;
	}
	select {
		margin-right: 20px;
		width: 168px;
		height: 37px;
		border: 1px solid #d7d7d7; // stroke
		border-radius: 0.5px; // border radius
		background-color: #fff; // layer fill content + color overlay
		font-size: 16px;
		color: #616161;
		font-family: 'Alef', sans-serif;
	}
	table#staff_table {
		width: 100%;
		margin-top: 53px;
		th {
			//padding-left: 20px;
			font-size: 18px;
			font-weight: bold;
			color: #252525;
			&.sort {
				cursor: pointer;
				//color: blue;
				//text-decoration: none;
			}

			.header_line {
				margin-top: 15px;
				height: 3px;
				background-color: #d9d9d9;
			}
		}
		tbody {
			tr {
				border-bottom: 1px solid #c6c6c6;
				line-height: 67px;
			}
			td {
				padding-right: 5px;
				padding-left: 5px;
				box-sizing: border-box;
			}
		}
	}
	.strangers {
		font-size: 0px;
		&.allowed {
			svg{ path{ fill: #f7b519}}
		}
		&.not_allowed {
			svg{ path{ fill: #bcbcbc}}
		}
	}
}

.circle {
	width: 32px;
	height: 32px;
	background-color: #a3a3a3;
	border-radius: 16px;
	color: white;
	//font-size: 18px;
	display: inline-block;
	//line-height: 24px;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	svg {
		position: absolute;
		top: 8px;
		right: 6px;
		path { fill: white;}
	}
}
