@import "compass/css3/flexbox";

#host-edit-form {
	padding-bottom: 20px;
	
	.radio {
		label {
			color: initial;
		}
	}

	input,select,textarea {
		max-width: 230px;

		&.error {
			border-color: red;
		}
	}

	button {
		width: 170px;
	}

	.form-horizontal {
		.control-label {
			text-align: right;
			color: initial;
		}
	}
}

.host-signup-finished {
	padding: 61px;
	img {
		margin-bottom: 33px
	}

	p {
		font-size: 24px;
		margin-bottom: 72px;
	}

	.buttons-container {
		@include flexbox((
	    display: flex,
	    flex-direction: row,
	    justify-content: space-around
	  ));
	}
}
