@import "compass/css3/flexbox";

#host-edit-form {
	.radio {
		label {
			color: initial;
		}
	}

	input,select,textarea {
		max-width: 230px;

		&.error {
			border-color: red;
		}
	}

	.btn {
		width: 170px;
	}

	.form-horizontal {
		.control-label {
			text-align: right;
			color: initial;
		}
	}
}

.host-signup-finished {
	padding: 61px;
	img {
		margin-bottom: 33px
	}

	p {
		font-size: 24px;
		margin-bottom: 72px;
	}

	.buttons-container {
		@include flexbox((
	    display: flex,
	    flex-direction: row,
	    justify-content: space-around
	  ));
	}

	.close {
		position: absolute;
		top: 20px;
		left: 20px;
	}
}


// Media query for host edit finish on mobile
@media(max-width:767px) {
  .modal.in .modal-dialog {
    width: 60%;
    margin-right: 20%;
  }
  .host-signup-finished img {
    margin-bottom: 20px;
    width: 50px;
  }
  .host-signup-finished p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .host-signup-finished .buttons-container {
    display: block !important;
    margin-right: 23%;
  }

  .zb-btn {
    width: 90px;
    height: 37px;
    border-radius: 5px;
    font-size: 12px;
    display: block;
    margin-top: 10px;
  }

  .host-signup-finished {
    padding: 20px;
  }
}

.register-link-code-wrapper {
  font-style: italic;
  margin: 10px 0px;
  padding: 10px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

#register-link-input {
  width: 100%;
  padding: 5px;
  font-size: 14px;

  @media(max-width:767px) {
    height:110px;
  }
}

[name="preparationWantedGroup"] {
  display: inline-block;
  padding: 5px;
  &.ng-dirty.ng-invalid {
    border: 1px solid #a94442;
  }
}
