#host-edit-form {
	label {
		color: #a3a3a3;
	}

	.radio {
		label {
			color: initial;
		}
	}

	input,select,textarea {
		max-width: 230px;
	}

	button {
		width: 170px;
	}

	.form-horizontal {
		.control-label {
			text-align: right;
			color: initial;
		}
	}
}

