//= require request-invite
//= require ui-select

.home-page {
	font-size: 16px;

  .form-inline {
    select, input {
      width: 164px;
    }

    .ui-select-bootstrap {
      min-width: 164px;
      max-width: 400px;
    }

    .city-select {
      margin-left: 33px;
    }
  }

  .salon-count {
  	span {
  		font-size: 16px;
  	}

  	.count {
  		font-weight: 700;
			font-size: 24px;
  	}
  }
}

.welcome-page {
  font-size: 18px;
  h3 {
    font-size: 30px;
  }
}