//=require request-invite
@import "compass/css3/flexbox";

#witness-new-form {
	label {
		color: #a3a3a3;
	}

	.checkbox {
		label {
			color: #000000;
		}
	}

	input,select,textarea {
		max-width: 230px;
	}

	button {
		width: 170px;
	}

	.form-horizontal {
		.control-label {
			text-align: right;
		}
	}

	form.error {
		.ng-invalid {
			border-color: red;
		}
	}
}

#witness-show{
	.checkbox {
		label{
			color: #665566;
			font-size: 15px;
		}
	}
	.cancel-assignment {
		button {
			a {
				color: white;
				text-decoration: none;
			}
			padding: 5px;
			line-height: 14px;
		}
	}
}

.request-invite {
	width: 605px;
	padding: 20px;
}

.salon-info-container {
	@include flexbox((
  	display: flex,
  	flex-direction: column
	));
}

.salon-info {
	flex-grow: 1;
	padding: 10px;
}
