//=require request-invite

#witness-new-form {
	label {
		color: #a3a3a3;
	}

	input,select,textarea {
		max-width: 230px;
	}

	button {
		width: 170px;
	}

	.form-horizontal {
		.control-label {
			text-align: right;
		}
	}
}
