

<% if @is_created %>
  <p><%= t 'shared.created_successfully'%></p>
  <p><%= link_to(t("shared.create_another"), new_region_path) %></p>
<% else %>
  <p><%= t 'shared.created_failure'%></p>
<% end %>

<p><%= link_to (t "shared.back_to_list"), regions_path %></p>