<% title "Regions" %>

<table>
  <tr>
    <th><%= t 'shared.name' %></th>
  </tr>
  <% for region in @regions %>
    <tr>
      <td><%= link_to region.name, region %></td>
    </tr>
  <% end %>
</table>

<br/>

<p><%= link_to(t("shared.new_link_text"), new_region_path) %></p>
