<% title "Regions" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for region in @regions %>
    <tr>
      <td><%= region.name %></td>
      <td><%= link_to "Show", region %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Create", new_region_path %>

