<% title "Regions" %>

<% for country_name, region_arr in @country_region_dict %>
  <h3><%= country_name %></h3>
  <table>
    <!--<tr>-->
      <!--<th><%= t 'shared.name' %></th>-->
    <!--</tr>-->
    <% for region in region_arr %>
      <tr>
        <td><%= link_to region.name, region %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br/>

<p><%= link_to(t("shared.new_link_text"), new_region_path) %></p>
