<div id="header">
	<div id="logo"><%= link_to image_tag("logo.png"),"http://www.zikaronbasalon.com" %></div>
	<div class="header_links">
		<div class="header_link"><%= link_to "רוצה לארח", new_host_path %></div>
		<div class="header_link"><%= link_to "רוצה להתארח", root_path %></div>
	</div>
	<%= link_to hosts_path do %>
		<div id="staff">צוות</div>
	<% end %>
</div>
