<div id="header">
	<div id="logo"><%= image_tag "logo.png" %></div>
	<div class="header_links">
		<div class="header_link">רוצה לארח</div>
		<div class="header_link">רוצה להתארח</div>
	</div>
	<div id="staff">צוות</div>
</div>
