<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag "mailer_default" %>
		<meta charset="utf-8">
	</head>
	<body>
		<div id="content">
			<h1>זכרון בסלון</h1>
			<%= yield %>
		</div>
		<div class="footer">
			<table>
				<tr>
					<td class="facebook">
						זכרון בסלון בפייסבוק
					</td>
					<td class="mail-and-website">
						<table>
							<tr>
								<td>zikaronbasalon@gmail.com</td>
							</tr>
							<tr>
								<td>
									www.zikaronbasalon.com
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>